<h1 class="text-center">Welcome to the AMOEBA CIRCUS</h1>
<br>
<div class="container text-center">
<h2><%= link_to("Here are our amoebas:", amoebas_path) %></h2>
</div>

<div class="container text-center">
<h2><%= link_to("Here are our acts:", acts_path) %></h2>
<br>
</div>
<div class="text-center">
<%= image_tag "pelomyxa.jpg" %>
</div>
<br>